.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imgContainer {
  width: 50vw;
  height: auto;
}


.copy {
  position: absolute;
  bottom: 35px;
}