


/* .container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imgContainer {
  width: 50vw;
  height: auto;
}


 */

.container{
  position: relative;
  display: flex;
  height: 100vh;
}

.imgContainer{
  flex: 1;
  overflow: auto;

}

.imgContainer img{
  max-width: 100%;
  height: 99vh;
}
.copy {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 35px;

}