.container {
  position: relative;
  display: flex;
  height: 100vh;
}

.imgContainer {
  flex: 1;
  overflow: auto;

}

.imgContainer img {
  width: 100%;
  height: 99vh;
}

.copy {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 35px;

}


@media screen and (max-width: 1008px) {
  .container {
    flex-direction: column;
  }

  .imgContainer img {
    width: 90%;
    height: auto; 
  }

  .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .copy {
    position: static; 
    margin-top: 20px; 
    text-align: center; 
  }
}