.timeInput {
  display: block;
  position: relative;
  margin-top: 10px;
}
.inputForm {

}

.iconGroup {
  /* position: relative;
  right: -135px;
  top: -30px; */
  width: 60px;
  position: absolute;
  right: 0;
  top: 40%;
  
}

.iconGroup button {
  min-width: 30px;
  padding: 0;
}
