.timeInput {
  display: block;
}

.iconGroup {

  position: relative;
  right: -140px;
  top: -30px;
}

.iconGroup button {
   margin: 0;
   padding: 0;
}

.iconGroup button svg {
    margin: 0;
    padding: 0;
}