.container {
  border: 1px solid #dad6d6;
  display: flex;
  height: 285px;
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.gridInfo {
  height: 20%;
}

.timeInput {
  display: block;
}

.iconGroup {
  position: relative;
  right: -165px;
  top: -30px;
  max-width: 90px;
}

.iconGroup button {
  min-width: 30px;
  padding: 0;
}
