.container {
  border: 1px solid #dad6d6;
  display: flex;
  height: 285px;
  display: flex;
  flex-direction: column;
  padding: 32px;
  margin-top: 20px;
 }

.gridInfo {
  height: 20%;
  color: #003367;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}


.addBtn{
  margin-top: 15px;
}