.container {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  box-sizing: border-box;
}

.infoContainer {
  border: 1px solid #dad6d6;
  padding: 20px;
  display: flex;
  height: 285px;
}

.gridContainer {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.gridInfo {
  height: 20%;
}
.gridItems {
  height: 70%;
}
