.container {
  margin: 0 auto;
  display: flex;
  width: 100%;
  height: 90vh;
}

.example1 {
  width: 100%;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
}

.example2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: antiquewhite;
}

.header1 {
  width: 100%;
  height: 20%;
  background-color: yellow;
}
.body1 {
  height: 80%;
  width: 100%;
  background-color: yellowgreen;
}

.header2 {
    margin: 0;
    padding: 0;
  width: 100%;
  height: 20%;
  background-color: turquoise;
}

.body2 {
  height: 80%;
  width: 100%;
  background-color: aqua;
}
